<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta charset="UTF-8">
  <title>ArticleCategories</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/popper/popper.min.js}"></script>
  <link rel="stylesheet"
        href="../static/plugins/fontawesome-free/css/all.min.css"
        th:href="@{/plugins/fontawesome-free/css/all.min.css}">
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <h2 class="navbar-brand text-white">Scientific journal management    <i class="fas fa-newspaper"></i></h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item text-center">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link text-white" th:href="@{displayCategories}">Categories</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link text-white" th:href="@{displaySubmissions}">Articles Submitted</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link text-white" href="#">Edit Profile</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link text-white" th:href="@{logout}">Logout <i class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container mt-4">
    <div class="card">
      <div class="card-header content bg-primary text-white">Article Categories List</div>
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <th>Id</th>
            <th>Article Category Name</th>
            <th>Version Id of Article</th>
            <th>Author Lastname</th>
            <th>Submission Phase</th>
            <th>Id of committy</th>
            <th>Date</th>
          </tr>
          <tr th:each="s:${submissions}">
            <td th:text="${s.submissionId}"></td>
            <td th:text="${s.articleCategory.name}"></td>
            <td th:text="${s.article.versionID}"></td>
            <td th:text="${s.author.lastName}"></td>
            <td th:text="${s.submissionPhase}"></td>
            <td th:text="${s.committy.id}"></td>
            <td th:text="${s.date}"></td>
          </tr>
        </table>
      </div>
    </div>
</div>

</body>
</html>